$base-font-size: 18px;

@mixin phone {
    @media (max-width: 370px) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

body {
    font-size: $base-font-size;
    font-family: Arial;
    line-height: 1.5;
    background: url("../img/bg.png") no-repeat;

    @include phone {
        color: #fff;
        background-color: #000;
    }
}

@import './block/*.scss';